@use '../abstracts/' as *;

.testimonial {
  padding: 3rem;

  & .quote {
    margin: 2rem 0;
    font-size: 110%;
  }

  &__image {
    position: relative;
    margin: 0 3rem;
  }

  &__image > .icon-container {
    position: absolute;
    top: 3rem;
    right: -32px;
  }
}

@media screen and (min-width: $tablet-width) {
  .testimonial__image {
    margin: 0;
  }

  .testimonial .quote {
    margin: 5rem 0 0 6rem;
    font-size: 120%;
    line-height: 1.5;
  }
}
